.version.index /* version checker */
{
	color: #00000E;
	background-color: #F49597;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 700px;
	min-height: 703px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E8D386;
	margin-left: auto;
	margin-right: auto;
}

#u11534
{
	z-index: 2;
	width: 700px;
	height: 700px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: -41px;
}

#U11545_animation
{
	width: 700px;
	height: 700px;
	border: none;
}

#u11514
{
	z-index: 3;
	overflow: hidden;
	position: relative;
	width: 329px;
	margin-right: -10000px;
	margin-top: 649px;
	left: 185px;
}

#u11519
{
	z-index: 4;
	overflow: hidden;
	position: relative;
	width: 314px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 193px;
}

#buttonu11543
{
	z-index: 5;
	width: 700px;
	height: 546px;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
}

.ie #buttonu11543
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 702px;
	padding-top: 18px;
	padding-bottom: 28px;
}

#page .verticalspacer
{
	clear: both;
}

