.version.index /* version checker */
{
	color: #0000EB;
	background-color: #5E8C86;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 511px;
	min-height: 646.8705735366427px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E8D386;
	margin-left: auto;
	margin-right: auto;
	padding: 29px 95px 27.129426463357277px 94px;
}

#u11519
{
	z-index: 6;
	margin-left: 99px;
	position: relative;
}

#pu11505
{
	width: 0.01px;
	margin-top: 33px;
}

#u11505
{
	z-index: 2;
	overflow: hidden;
	position: relative;
	width: 511px;
	margin-right: -10000px;
}

#u11507
{
	z-index: 3;
	overflow: hidden;
	position: relative;
	width: 114px;
	margin-right: -10000px;
	margin-top: 315px;
	left: 199px;
}

#u11509
{
	z-index: 4;
	overflow: hidden;
	position: relative;
	width: 144px;
	margin-right: -10000px;
	margin-top: 215px;
	left: 296px;
}

#u11514
{
	z-index: 5;
	overflow: hidden;
	margin-left: 91px;
	margin-top: 43px;
	position: relative;
}

body
{
	position: relative;
	min-width: 702px;
	padding-top: 18px;
	padding-bottom: 28px;
}

#page .verticalspacer
{
	clear: both;
}

