.version.index /* version checker */
{
	color: #000016;
	background-color: #3872CA;
}

.html
{
	background-color: #FEFFD9;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 8947px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 88px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 1138px;
	width: 0.01px;
}

#pu10586-6
{
	width: 0.01px;
	padding-bottom: 55px;
	margin-left: -100px;
}

#u10586-6
{
	z-index: 123;
	width: 212px;
	min-height: 55px;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -612px;
}

#u10614
{
	margin-top: 8px;
	margin-bottom: -8px;
}

#u10609
{
	z-index: 129;
}

#u10561-6
{
	z-index: 131;
	width: 152px;
	min-height: 51px;
	background-color: #E8D386;
	padding-top: 4px;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -380px;
}

#u10561-6:hover
{
	background-color: #FFFFFF;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 51px;
	width: 152px;
	margin: 0px 0px 0px -380px;
}

#u10561-6:active
{
	background-color: #F8AB98;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 51px;
	width: 152px;
	margin: 0px 0px 0px -380px;
}

#u10608
{
	margin-top: 10px;
	margin-bottom: -10px;
}

#u10603
{
	z-index: 137;
}

#u10562-6
{
	z-index: 139;
	width: 152px;
	min-height: 55px;
	background-color: #F8AB98;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -228px;
}

#u10562-6:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 152px;
	margin: 0px 0px 0px -228px;
}

#u10562-6:active
{
	background-color: #80BDC5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 152px;
	margin: 0px 0px 0px -228px;
}

#u10620
{
	z-index: 145;
}

#u10563-6
{
	z-index: 147;
	width: 152px;
	min-height: 55px;
	background-color: #80BDC5;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -76px;
}

#u10563-6:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 152px;
	margin: 0px 0px 0px -76px;
}

#u10563-6:active
{
	background-color: #9B8FAF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 152px;
	margin: 0px 0px 0px -76px;
}

#u10631
{
	z-index: 153;
}

#u10564-6
{
	z-index: 155;
	width: 152px;
	min-height: 55px;
	background-color: #9B8FAF;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 76px;
}

#u10564-6:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 152px;
	margin: 0px 0px 0px 76px;
}

#u10564-6:active
{
	background-color: #00CE3A;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 152px;
	margin: 0px 0px 0px 76px;
}

#u10642
{
	z-index: 161;
}

#u10565-6
{
	z-index: 163;
	width: 152px;
	min-height: 55px;
	background-color: #00CE3A;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 228px;
}

#u10565-6:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 152px;
	margin: 0px 0px 0px 228px;
}

#u10565-6:active
{
	background-color: #E8D386;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 152px;
	margin: 0px 0px 0px 228px;
}

#u10586,#u10561,#u10562,#u10563,#u10564,#u10565
{
	font-size: 1px;
	line-height: 0px;
}

#u10625,#u10636,#u10647,#u10658
{
	margin-top: 14px;
	margin-bottom: -14px;
}

#u10653
{
	z-index: 169;
}

#u10520
{
	z-index: 120;
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 396px;
}

#u10524
{
	z-index: 122;
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 448px;
}

#u10522
{
	z-index: 121;
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 500px;
}

#pu12052
{
	width: 0.01px;
	margin-left: 1064px;
	margin-top: -55px;
}

#u12052
{
	z-index: 171;
	overflow: hidden;
	position: relative;
	width: 44px;
	margin-right: -10000px;
	margin-top: 8px;
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 60px;
}

#u7793
{
	z-index: 2;
	width: 800px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 62px;
	left: 112px;
	background: transparent url("../images/fireworkheader.png") no-repeat left top;
	background-size: contain;
}

#u7993
{
	z-index: 5;
	width: 178px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 310px;
	left: 521px;
	background: transparent url("../images/vinyl-vinyl.png") no-repeat left top;
	background-size: contain;
}

#u7993:hover
{
	width: 178px;
	height: 100px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/vinyl-vinyl2.png") no-repeat left top;
	background-size: contain;
}

#u7982
{
	z-index: 4;
	width: 178px;
	height: 100px;
	position: fixed;
	top: 343px;
	left: 699px;
	background: transparent url("../images/cd.png") no-repeat left top;
	background-size: contain;
}

#u7982:hover
{
	width: 178px;
	height: 100px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cd-cd.png") no-repeat left top;
	background-size: contain;
}

#u7970
{
	z-index: 3;
	width: 240px;
	height: 100px;
	position: fixed;
	top: 443px;
	left: 566px;
	background: transparent url("../images/digital-digital.png") no-repeat left top;
	background-size: contain;
}

#u7970:active
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 240px;
	height: 100px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#pu1636
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1119px;
}

#u1636
{
	z-index: 108;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #E8D386;
}

#u1636-bw
{
	z-index: 108;
	height: 80px;
}

#news
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1224px;
}

#u8672
{
	z-index: 12;
	width: 985px;
	min-height: 1271px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 19px;
	position: relative;
}

#pu2584
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 306px;
}

#u2584
{
	z-index: 106;
	height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #F8AB98;
}

#u2584-bw
{
	z-index: 106;
	height: 81px;
}

#music
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1211px;
}

#tab-panelu7525
{
	z-index: 17;
	width: 1001px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	left: -1px;
	margin-top: 1px;
	position: relative;
}

#u7526
{
	z-index: 18;
	width: 1001px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
}

#u7527
{
	z-index: 19;
	width: 334px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding-bottom: 24px;
	position: relative;
	margin-right: -10000px;
}

#u7527:hover
{
	background-color: #F8AB98;
	width: 334px;
	min-height: 50px;
	margin: 0px -10000px 0px 0px;
}

#u7527:active
{
	background-color: #80BDC5;
	width: 334px;
	min-height: 50px;
	margin: 0px -10000px 0px 0px;
}

#u7527.TabbedPanelsTabSelected
{
	background-color: #F8AB98;
	width: 334px;
	min-height: 50px;
	margin: 0px -10000px 0px 0px;
}

#u7528
{
	z-index: 21;
	height: 50px;
	width: 334px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	background: url("../images/u7528.png") no-repeat 0px 0px;
}

#u7527.TabbedPanelsTabSelected #u7528
{
	background: url("../images/u7528-a.png") no-repeat 0px 0px;
}

.hidpi #u7528
{
	background-image: url("../images/u7528_2x.png");
	background-size: 334px 50px;
}

.hidpi #u7527.TabbedPanelsTabSelected #u7528
{
	background-image: url("../images/u7528-a_2x.png");
	background-size: 334px 50px;
}

#u7531
{
	z-index: 23;
	width: 333px;
	min-height: 50px;
	border-style: solid;
	border-color: #999999;
	background-color: #7F7F7F;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 333px;
	border-width: 1px 0px 1px 1px;
}

#u7531:hover
{
	border-style: solid;
	border-color: #999999;
	background-color: #80BDC5;
	width: 333px;
	min-height: 50px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u7531:active
{
	border-style: solid;
	border-color: #999999;
	background-color: #E8D386;
	width: 333px;
	min-height: 50px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u7531.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #80BDC5;
	width: 334px;
	min-height: 52px;
	margin: 0px -10000px 0px 0px;
}

#u7532-4
{
	z-index: 24;
	width: 333px;
	min-height: 50px;
	border-color: #999999;
	background-color: transparent;
	line-height: 50px;
	text-align: center;
	font-size: 36px;
	color: #FFFFFF;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u7531:hover #u7532-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 333px;
	margin: 0px -10000px 0px 0px;
}

#u7531:active #u7532-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 333px;
	margin: 0px -10000px 0px 0px;
}

#u7531.TabbedPanelsTabSelected #u7532-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 36px;
	font-family: Courier New, Courier, monospace;
}

#u7535
{
	z-index: 28;
	width: 333px;
	min-height: 50px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #7F7F7F;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 666px;
}

#u7535:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #E8D386;
	width: 333px;
	min-height: 50px;
	margin: 0px -10000px 0px 0px;
}

#u7535:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #F8AB98;
	width: 333px;
	min-height: 50px;
	margin: 0px -10000px 0px 0px;
}

#u7535.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #E8D386;
	width: 335px;
	min-height: 52px;
	margin: 0px -10000px 0px 0px;
}

#u7537-4
{
	z-index: 29;
	width: 333px;
	min-height: 50px;
	border-color: #999999;
	background-color: transparent;
	line-height: 50px;
	text-align: center;
	font-size: 36px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u7535:hover #u7537-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 333px;
	margin: 0px -10000px 0px 0px;
}

#u7535:active #u7537-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 333px;
	margin: 0px -10000px 0px 0px;
}

#u7531.TabbedPanelsTabSelected #u7532-4,#u7535.TabbedPanelsTabSelected #u7537-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 333px;
	margin: 0px -10000px 0px 0px;
}

#u7535.TabbedPanelsTabSelected #u7537-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u7539
{
	z-index: 33;
	width: 1001px;
	background-color: transparent;
	position: relative;
}

#u7544
{
	z-index: 34;
	width: 1001px;
	border-style: none;
	border-color: transparent;
	background-color: #F8AB98;
	padding-bottom: 14px;
	margin-right: -10000px;
	position: relative;
}

#pu7574
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 71px;
}

#u7574
{
	z-index: 35;
	width: 200px;
	background-color: transparent;
	position: relative;
}

#u11580-8
{
	z-index: 40;
	width: 200px;
	min-height: 69px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 26px;
	position: relative;
}

#u11606-16
{
	z-index: 51;
	width: 188px;
	min-height: 117px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 6px;
	margin-top: 13px;
	position: relative;
}

#pu11553
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 353px;
}

#u11553
{
	z-index: 50;
	width: 300px;
	min-height: 204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9427
{
	z-index: 37;
	width: 220px;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 44px;
	position: relative;
}

#u11618
{
	z-index: 67;
	overflow: hidden;
	margin-left: 107px;
	margin-top: 14px;
	position: relative;
}

#u11591
{
	z-index: 48;
	overflow: hidden;
	margin-left: 107px;
	margin-top: 5px;
	position: relative;
}

#u11601
{
	z-index: 49;
	overflow: hidden;
	margin-left: 107px;
	margin-top: 5px;
	position: relative;
}

#pu12038
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 110px;
	margin-left: 692px;
}

#u12038
{
	z-index: 68;
	overflow: hidden;
	position: relative;
}

#u11367
{
	z-index: 39;
	width: 183px;
	min-height: 86px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 45px;
	margin-top: 133px;
	position: relative;
}

#u7540
{
	z-index: 69;
	width: 892px;
	border-style: none;
	border-color: transparent;
	background-color: #80BDC5;
	margin-right: -10000px;
	position: relative;
	padding: 33px 38px 10px 71px;
}

#pu7707
{
	width: 0.01px;
}

#u7707
{
	z-index: 71;
	width: 201px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u11607
{
	z-index: 76;
	width: 300px;
	min-height: 204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u12044
{
	z-index: 98;
	overflow: hidden;
	position: relative;
	width: 272px;
	margin-right: -10000px;
	margin-top: 77px;
	left: 620px;
}

#pu7869
{
	width: 0.01px;
	margin-top: 22px;
}

#u7869
{
	z-index: 70;
	width: 822px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #80BDC5;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 10px;
}

#u9435
{
	z-index: 73;
	width: 220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 322px;
}

#u11369
{
	z-index: 75;
	width: 183px;
	min-height: 64px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 665px;
}

#u11611
{
	z-index: 77;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	margin-top: 164px;
	left: 381px;
}

#u11613
{
	z-index: 78;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	margin-top: 203px;
	left: 382px;
}

#u11623
{
	z-index: 79;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	margin-top: 126px;
	left: 381px;
}

#u11631-8
{
	z-index: 80;
	width: 200px;
	min-height: 69px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u11632-10
{
	z-index: 88;
	width: 188px;
	min-height: 57px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 6px;
}

#u11606,#u11632
{
	text-decoration: underline;
}

#u7548
{
	z-index: 99;
	width: 1001px;
	border-style: none;
	border-color: transparent;
	background-color: #E8D386;
	padding-bottom: 19px;
	margin-right: -10000px;
	position: relative;
}

#pu11998
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 87px;
	margin-left: 72px;
}

#u11998
{
	z-index: 105;
	overflow: hidden;
	margin-left: 41px;
	position: relative;
}

#u11994
{
	z-index: 103;
	overflow: hidden;
	margin-left: 41px;
	margin-top: 6px;
	position: relative;
}

#u11996
{
	z-index: 104;
	overflow: hidden;
	margin-left: 41px;
	margin-top: 7px;
	position: relative;
}

#u11375
{
	z-index: 101;
	width: 200px;
	min-height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 69px;
	position: relative;
}

#pu11629
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 49px;
	margin-left: 272px;
}

#u11629
{
	z-index: 102;
	width: 550px;
	min-height: 204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u11373
{
	z-index: 100;
	width: 550px;
	min-height: 201px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 103px;
	margin-top: 30px;
	position: relative;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#pu8644
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 441px;
}

#u8644
{
	z-index: 109;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #80BDC5;
}

#u8644-bw
{
	z-index: 109;
	height: 80px;
}

#video
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 1213px;
}

#u8645
{
	z-index: 110;
	width: 513px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 244px;
	margin-top: 53px;
	position: relative;
}

#pu7695
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 36px;
}

#u7695
{
	z-index: 13;
	width: 483px;
	min-height: 301px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7697
{
	z-index: 14;
	width: 483px;
	min-height: 301px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 501px;
}

#pu7699
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 21px;
}

#u7699
{
	z-index: 15;
	width: 483px;
	min-height: 301px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7701
{
	z-index: 16;
	width: 483px;
	min-height: 301px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 501px;
}

#pu11020
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 442px;
}

#u11020
{
	z-index: 119;
	height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #9B8FAF;
}

#u11020-bw
{
	z-index: 119;
	height: 81px;
}

#tour
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1205px;
}

#u10994
{
	z-index: 11;
	width: 984px;
	min-height: 503px;
	border-style: none;
	border-color: transparent;
	background-color: #9B8FAF;
	margin-left: 1px;
	margin-top: 1px;
	position: relative;
}

#pu8666
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 50px;
}

#u8666
{
	z-index: 113;
	width: 407px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8650
{
	z-index: 111;
	width: 434px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 550px;
}

#pu8680
{
	width: 0.01px;
	margin-left: 63px;
	margin-top: 88px;
}

#u8680
{
	z-index: 117;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8674
{
	z-index: 115;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 564px;
}

#pu6696
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 375px;
}

#u6696
{
	z-index: 107;
	height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #00CE3A;
}

#u6696-bw
{
	z-index: 107;
	height: 81px;
}

#contact
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1205px;
}

#u8581-5
{
	z-index: 6;
	width: 533px;
	min-height: 78px;
	background-color: transparent;
	text-align: center;
	margin-left: 231px;
	margin-top: 25px;
	position: relative;
}

#u8581-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8581
{
	font-size: 53px;
	line-height: 64px;
}

.js #u1636.ose_pre_init,.js #u8672.ose_pre_init,.js #u2584.ose_pre_init,.js #tab-panelu7525.ose_pre_init,.js #u8644.ose_pre_init,.js #u8645.ose_pre_init,.js #u7695.ose_pre_init,.js #u7697.ose_pre_init,.js #u7699.ose_pre_init,.js #u7701.ose_pre_init,.js #u11020.ose_pre_init,.js #u8666.ose_pre_init,.js #u8650.ose_pre_init,.js #u8680.ose_pre_init,.js #u8674.ose_pre_init,.js #u6696.ose_pre_init,.js #u8581-5.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 258px;
}

#page .verticalspacer
{
	clear: both;
}

