.version.contact /* version checker */
{
	color: #000015;
	background-color: #FBA76B;
}

@-ms-viewport
{
	width: 670px;
}

@-webkit-viewport
{
	width: 670px;
}

@-o-viewport
{
	width: 670px;
}

@-moz-viewport
{
	width: 670px;
}

@viewport
{
	width: 670px;
}

.html
{
	background-color: #FEFFD9;
}

#page
{
	z-index: 1;
	width: 670px;
	min-height: 554px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 16px;
}

#ppu9382-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#pu9382-4
{
	width: 0.01px;
	margin-left: 170px;
}

#u9382-4
{
	z-index: 46;
	width: 61px;
	margin-right: -10000px;
}

#u9385-4
{
	z-index: 58;
	margin-right: -10000px;
	margin-top: 5px;
	left: 69px;
}

#u9383-4
{
	z-index: 50;
	width: 43px;
	margin-right: -10000px;
	left: 92px;
}

#u9387-4
{
	z-index: 66;
	margin-right: -10000px;
	margin-top: 5px;
	left: 141px;
}

#u9384-4
{
	z-index: 54;
	width: 60px;
	margin-right: -10000px;
	left: 163px;
}

#u9388-4
{
	z-index: 70;
	margin-right: -10000px;
	margin-top: 5px;
	left: 231px;
}

#u9386-4
{
	z-index: 62;
	width: 76px;
	margin-right: -10000px;
	left: 253px;
}

#u8244
{
	z-index: 8;
	width: 670px;
	top: -4px;
	margin-bottom: -4px;
}

#pu9243
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 11px;
}

#u9243
{
	z-index: 14;
	width: 53px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u9231
{
	z-index: 12;
	width: 58px;
	margin-right: -10000px;
	left: 120px;
}

#u9228
{
	z-index: 10;
	width: 58px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 245px;
}

#u9261
{
	z-index: 16;
	width: 58px;
	margin-right: -10000px;
	left: 370px;
}

#u8424-6
{
	z-index: 2;
	width: 482px;
	min-height: 78px;
	background-color: transparent;
	text-align: center;
	margin-left: 94px;
	margin-top: 61px;
	position: relative;
}

#u8424-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8424-2
{
	font-size: 50px;
	line-height: 60px;
}

#u9375-4
{
	z-index: 18;
	width: 61px;
	margin-right: -10000px;
	margin-top: 582px;
	left: 170px;
}

#u9378-4
{
	z-index: 30;
	margin-right: -10000px;
	margin-top: 588px;
	left: 239px;
}

#u9376-4
{
	z-index: 22;
	width: 43px;
	margin-right: -10000px;
	margin-top: 582px;
	left: 262px;
}

#u9380-4
{
	z-index: 38;
	margin-right: -10000px;
	margin-top: 588px;
	left: 311px;
}

#u9377-4
{
	z-index: 26;
	width: 60px;
	margin-right: -10000px;
	margin-top: 582px;
	left: 334px;
}

#u9381-4
{
	z-index: 42;
	margin-right: -10000px;
	margin-top: 588px;
	left: 401px;
}

#u9379-4
{
	z-index: 34;
	width: 76px;
	margin-right: -10000px;
	margin-top: 582px;
	left: 424px;
}

body
{
	position: relative;
	min-width: 670px;
	padding-top: 12px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -582px;
}

