/*

*/

.version.contact /* version checker */
{
	color: #0000E1;
	background-color: #3B1575;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 670px;
	min-height: 615.95px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FEFFD9;
	padding-bottom: 0px;
}

#u9782
{
	z-index: 9;
}

#u9783-4
{
	z-index: 10;
	min-height: 70px;
	padding-left: 25px;
	padding-top: 4px;
}

#u9783-4.AccordionPanelTabOpen
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 70px;
	margin: 0px;
}

#u9784
{
	z-index: 14;
	padding-bottom: 1px;
}

#menuu9810
{
	z-index: 15;
	width: 670px;
	position: relative;
	margin-right: -10000px;
}

#u9811
{
	width: 670px;
	position: relative;
}

#u9814
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u10980
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u9821
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u9826
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u9816-4,#u10981-4,#u9822-4,#u9827-4
{
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 35px;
}

#u10979,#u9818,#u9825,#u9832
{
	width: 670px;
	margin-top: 2px;
	position: relative;
}

#u9833
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u9814.MuseMenuActive,#u10980.MuseMenuActive,#u9821.MuseMenuActive,#u9826.MuseMenuActive,#u9833.MuseMenuActive
{
	width: 670px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u9816-4_clip,#u10981-4_clip,#u9822-4_clip,#u9827-4_clip,#u9835-4_clip
{
	width: 635px;
	height: 37px;
}

#u9835-4
{
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 35px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#accordionu9781,#accordionu9781-bw
{
	z-index: 8;
}

#u10507
{
	z-index: 50;
	width: 670px;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
}

#pu12935
{
	width: 0.01px;
	margin-left: 181px;
	margin-top: -4px;
}

#u12935
{
	z-index: 52;
	width: 53px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10509
{
	z-index: 53;
	display: block;
}

#u12989
{
	z-index: 56;
	width: 53px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u10513
{
	z-index: 57;
	display: block;
}

#u12962
{
	z-index: 54;
	width: 53px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 249px;
}

#u10511
{
	z-index: 55;
	display: block;
}

#u8424-6
{
	z-index: 2;
	width: 482px;
	min-height: 78px;
	background-color: transparent;
	text-align: center;
	margin-left: 94px;
	margin-top: 35px;
	position: relative;
}

#u8424-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8424-2
{
	font-size: 50px;
	line-height: 60px;
}

#u9846-4
{
	z-index: 46;
	min-height: 42px;
	padding-top: 20px;
}

#u9846-4-bw
{
	z-index: 46;
	min-height: 42px;
	margin-top: 205px;
}

.html
{
	background-color: #FEFFD9;
}

body
{
	position: relative;
	min-width: 670px;
}

@-ms-viewport
{
	width: 670px;
}

@-webkit-viewport
{
	width: 670px;
}

@-o-viewport
{
	width: 670px;
}

@-moz-viewport
{
	width: 670px;
}

@viewport
{
	width: 670px;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

