.version.index /* version checker */
{
	color: #00001F;
	background-color: #A3A79C;
}

@-ms-viewport
{
	width: 670px;
}

@-webkit-viewport
{
	width: 670px;
}

@-o-viewport
{
	width: 670px;
}

@-moz-viewport
{
	width: 670px;
}

@viewport
{
	width: 670px;
}

.html
{
	background-color: #FEFFD9;
}

#page
{
	z-index: 1;
	width: 670px;
	min-height: 615.9780821917809px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FEFFD9;
	padding-bottom: 0px;
}

#u9782
{
	z-index: 3;
}

#u9783-4
{
	z-index: 4;
	min-height: 75px;
	padding-left: 25px;
	padding-top: 13px;
	padding-bottom: 10px;
}

#u9783-4.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 10px;
	min-height: 75px;
	margin: 0px;
}

#u9784
{
	z-index: 8;
	padding-bottom: 73px;
}

#menuu9810
{
	z-index: 9;
	min-height: 269px;
}

#u9814
{
	min-height: 37px;
	padding-bottom: 28px;
}

#u9814:hover
{
	min-height: 37px;
	margin: 0px;
}

#u9821
{
	min-height: 37px;
	padding-bottom: 29px;
}

#u9814.MuseMenuActive,#u9821:hover
{
	min-height: 37px;
	margin: 0px;
}

#u9826
{
	min-height: 37px;
	padding-bottom: 29px;
}

#u9821.MuseMenuActive,#u9826:hover
{
	min-height: 37px;
	margin: 0px;
}

#u9833
{
	min-height: 37px;
	padding-bottom: 29px;
}

#u9826.MuseMenuActive,#u9833:hover
{
	min-height: 37px;
	margin: 0px;
}

#u9833.MuseMenuActive
{
	min-height: 37px;
	margin: 0px;
}

#u9816-4_clip,#u9822-4_clip,#u9827-4_clip,#u9835-4_clip
{
	width: 635px;
	height: 37px;
}

#u9816-4,#u9822-4,#u9827-4,#u9835-4
{
	top: 14px;
	left: 35px;
}

#u9818,#u9825,#u9832
{
	margin-top: 2px;
}

#menuu9810-bw
{
	z-index: 9;
	min-height: 269px;
	margin-top: 25px;
}

#accordionu9781,#accordionu9781-bw
{
	z-index: 2;
}

#u9794
{
	z-index: 53;
	width: 670px;
	background-color: transparent;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#pu10460
{
	width: 0.01px;
	margin-left: 181px;
	margin-top: -4px;
}

#u10460
{
	z-index: 56;
	overflow: hidden;
	position: relative;
	width: 53px;
	margin-right: -10000px;
}

#u10475
{
	z-index: 58;
	overflow: hidden;
	position: relative;
	width: 53px;
	margin-right: -10000px;
	left: 124px;
}

#u10470
{
	z-index: 57;
	overflow: hidden;
	position: relative;
	width: 53px;
	margin-right: -10000px;
	left: 249px;
}

#pu7874-6
{
	width: 0.01px;
	margin-top: 11px;
}

#u7874-6
{
	z-index: 38;
	width: 670px;
	min-height: 109px;
	background-color: transparent;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u7874-2
{
	font-size: 61px;
	line-height: 73px;
	color: #80BDC5;
}

#u7874-4
{
	font-size: 24px;
	line-height: 29px;
}

#u8238
{
	z-index: 44;
	width: 178px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 435px;
}

#u8499
{
	z-index: 47;
	width: 178px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 68px;
}

#u8505
{
	z-index: 49;
	width: 178px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 246px;
}

#u9919
{
	z-index: 55;
	margin-left: 77px;
	margin-top: 14px;
	position: relative;
}

#u8627
{
	z-index: 52;
	width: 513px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 78px;
	margin-top: 17px;
	position: relative;
}

#u8299
{
	z-index: 46;
	width: 513px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 79px;
	margin-top: 36px;
	position: relative;
}

#u8511
{
	z-index: 51;
	width: 513px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 79px;
	margin-top: 35px;
	position: relative;
}

#u9846-4
{
	z-index: 34;
	width: 670px;
	min-height: 59px;
	padding-top: 34px;
}

body
{
	position: relative;
	min-width: 670px;
	padding-bottom: 11px;
}

#page .verticalspacer
{
	clear: both;
}

