#u8244,#u9243,#u9231,#u9228,#u9261
{
	background-color: transparent;
	position: relative;
}

#u9385-4,#u9387-4,#u9388-4,#u9378-4,#u9380-4,#u9381-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u9382-4,#u9383-4,#u9384-4,#u9386-4,#u9375-4,#u9376-4,#u9377-4,#u9379-4
{
	position: relative;
}

#u9382-4_img,#u9383-4_img,#u9384-4_img,#u9386-4_img,#u9375-4_img,#u9376-4_img,#u9377-4_img,#u9379-4_img
{
	display: block;
	vertical-align: top;
}

