/*

*/

.version.music /* version checker */
{
	color: #0000E1;
	background-color: #04D216;
}

@-ms-viewport
{
	width: 670px;
}

@-webkit-viewport
{
	width: 670px;
}

@-o-viewport
{
	width: 670px;
}

@-moz-viewport
{
	width: 670px;
}

.html
{
	background-color: #FEFFD9;
}

#page
{
	z-index: 1;
	width: 670px;
	min-height: 2170.95px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FEFFD9;
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#u9782
{
	z-index: 3;
}

#u9783-4
{
	z-index: 4;
	min-height: 70px;
	padding-left: 25px;
	padding-top: 4px;
}

#u9783-4.AccordionPanelTabOpen
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 70px;
	margin: 0px;
}

#u9784
{
	z-index: 8;
	padding-bottom: 1px;
}

#menuu9810
{
	z-index: 9;
	width: 670px;
	margin-right: -10000px;
}

@viewport,#u9811
{
	width: 670px;
}

#u9814
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u10980
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u9821
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u9826
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u9816-4,#u10981-4,#u9822-4,#u9827-4
{
	margin-right: -10000px;
	top: 7px;
	left: 35px;
}

#u10979,#u9818,#u9825,#u9832
{
	width: 670px;
	margin-top: 2px;
}

#u9833
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u9814.MuseMenuActive,#u10980.MuseMenuActive,#u9821.MuseMenuActive,#u9826.MuseMenuActive,#u9833.MuseMenuActive
{
	width: 670px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u9816-4_clip,#u10981-4_clip,#u9822-4_clip,#u9827-4_clip,#u9835-4_clip
{
	width: 635px;
	height: 37px;
}

#u9835-4
{
	margin-right: -10000px;
	top: 8px;
	left: 35px;
}

#accordionu9781,#accordionu9781-bw
{
	z-index: 2;
}

#u10480
{
	z-index: 64;
	width: 670px;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
}

#pu10482
{
	width: 0.01px;
	margin-left: 180px;
	margin-top: -4px;
}

#u10482
{
	z-index: 66;
	overflow: hidden;
	position: relative;
	width: 53px;
	margin-right: -10000px;
}

#u10486
{
	z-index: 68;
	overflow: hidden;
	position: relative;
	width: 53px;
	margin-right: -10000px;
	left: 128px;
}

#u10484
{
	z-index: 67;
	overflow: hidden;
	position: relative;
	width: 53px;
	margin-right: -10000px;
	left: 256px;
}

#u8250-4
{
	z-index: 44;
	width: 670px;
	min-height: 62px;
	background-color: transparent;
	color: #80BDC5;
	line-height: 61px;
	text-align: center;
	font-size: 61px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-top: 20px;
	position: relative;
}

#pu12319
{
	width: 0.01px;
	margin-left: 139px;
	margin-top: 37px;
}

#u12319
{
	z-index: 71;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
}

#u12315
{
	z-index: 69;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 146px;
}

#u12317
{
	z-index: 70;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 292px;
}

#u8260
{
	z-index: 48;
	width: 300px;
	background-color: transparent;
	margin-left: 185px;
	margin-top: 38px;
	position: relative;
}

#u9448-4
{
	z-index: 52;
	margin-top: 7px;
	position: relative;
}

#u9449-4
{
	z-index: 56;
	width: 670px;
	min-height: 61px;
	background-color: transparent;
	color: #FF0000;
	line-height: 60px;
	text-align: center;
	font-size: 50px;
	font-family: Courier New, Courier, monospace;
	margin-top: 51px;
	position: relative;
}

#pu12328
{
	width: 0.01px;
	margin-left: 139px;
	margin-top: 29px;
}

#u12328
{
	z-index: 74;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
}

#u12324
{
	z-index: 72;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 146px;
}

#u12326
{
	z-index: 73;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 292px;
}

#u9445
{
	z-index: 50;
	width: 300px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-left: 184px;
	margin-top: 38px;
	position: relative;
}

#u9460-4
{
	z-index: 60;
	margin-top: 12px;
	position: relative;
}

#u9448-4_img,#u9460-4_img
{
	display: block;
	vertical-align: top;
}

#u12334
{
	z-index: 79;
	width: 581px;
	height: 18px;
	border-style: solid;
	border-color: #9B8FAF;
	background-color: transparent;
	margin-left: 44px;
	margin-top: 27px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u12333-4
{
	z-index: 75;
	width: 274px;
	background-color: transparent;
	color: #9B8FAF;
	line-height: 50px;
	text-align: center;
	font-size: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 193px;
	position: relative;
}

#pu12335-4
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 33px;
}

#u12335-4
{
	z-index: 80;
	width: 250px;
	min-height: 31px;
	background-color: transparent;
	color: #A60000;
	line-height: 26px;
	text-align: center;
	font-size: 26px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u12339-4
{
	z-index: 86;
	width: 265px;
	min-height: 29px;
	background-color: transparent;
	color: #383838;
	line-height: 27px;
	text-align: center;
	letter-spacing: -2px;
	font-size: 27px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 328px;
}

#pu12336
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 29px;
}

#u12336
{
	z-index: 84;
	width: 245px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12340
{
	z-index: 90;
	width: 247px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#pu12346
{
	width: 0.01px;
	margin-left: 116px;
	margin-top: 26px;
}

#u12346
{
	z-index: 94;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
}

#u12352
{
	z-index: 97;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 335px;
}

#u12342
{
	z-index: 92;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
}

#u12348
{
	z-index: 95;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 335px;
}

#pu12342,#pu12344
{
	width: 0.01px;
	margin-left: 116px;
	margin-top: 13px;
}

#u12344
{
	z-index: 93;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
}

#u12350
{
	z-index: 96;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 335px;
}

#u9846-4
{
	z-index: 40;
	min-height: 42px;
	padding-top: 20px;
}

#u9846-4-bw
{
	z-index: 40;
	min-height: 42px;
	margin-top: 197px;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 670px;
}

#page .verticalspacer
{
	clear: both;
}

