/*

*/

.version.news /* version checker */
{
	color: #0000E5;
	background-color: #5702DB;
}

@-ms-viewport
{
	width: 670px;
}

@-webkit-viewport
{
	width: 670px;
}

@-o-viewport
{
	width: 670px;
}

@-moz-viewport
{
	width: 670px;
}

.html
{
	background-color: #FEFFD9;
}

#page
{
	z-index: 1;
	width: 670px;
	min-height: 615.5716213147218px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FEFFD9;
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#u9782
{
	z-index: 3;
}

#u9783-4
{
	z-index: 4;
	min-height: 70px;
	padding-left: 25px;
	padding-top: 4px;
}

#u9783-4.AccordionPanelTabOpen
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 70px;
	margin: 0px;
}

#u9784
{
	z-index: 8;
	padding-bottom: 1px;
}

#menuu9810
{
	z-index: 9;
	width: 670px;
	margin-right: -10000px;
}

@viewport,#u11417
{
	width: 670px;
}

#u11418
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u9814
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u10980
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u9821
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u9826
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u9811,#u10979,#u9818,#u9825,#u9832
{
	width: 670px;
	margin-top: 2px;
}

#u9833
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u11418.MuseMenuActive,#u9814.MuseMenuActive,#u10980.MuseMenuActive,#u9821.MuseMenuActive,#u9826.MuseMenuActive,#u9833.MuseMenuActive
{
	width: 670px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u11419-4_clip,#u9816-4_clip,#u10981-4_clip,#u9822-4_clip,#u9827-4_clip,#u9835-4_clip
{
	width: 635px;
	height: 37px;
}

#u11419-4,#u9816-4,#u10981-4,#u9822-4,#u9827-4,#u9835-4
{
	margin-right: -10000px;
	top: 3px;
	left: 35px;
}

#accordionu9781,#accordionu9781-bw
{
	z-index: 2;
}

#u10989
{
	z-index: 50;
	min-height: 1387px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u10989-bw
{
	z-index: 50;
	min-height: 1387px;
	margin-top: 11px;
}

#u9846-4
{
	z-index: 46;
	min-height: 42px;
	padding-top: 20px;
}

#u9846-4-bw
{
	z-index: 46;
	min-height: 42px;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 670px;
}

#page .verticalspacer
{
	clear: both;
}

