.version.contact /* version checker */
{
	color: #00000A;
	background-color: #8F05D2;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FEFFD9;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1008px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 16px;
}

#ppu9314-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 10px;
	margin-left: 49px;
}

#pu9314-4
{
	width: 0.01px;
	margin-left: 170px;
}

#u9314-4
{
	z-index: 18;
	width: 61px;
	margin-right: -10000px;
}

#u9319-4
{
	z-index: 30;
	margin-right: -10000px;
	margin-top: 6px;
	left: 69px;
}

#u9316-4
{
	z-index: 22;
	width: 43px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 92px;
}

#u9328-4
{
	z-index: 38;
	margin-right: -10000px;
	margin-top: 6px;
	left: 141px;
}

#u9318-4
{
	z-index: 26;
	width: 60px;
	margin-right: -10000px;
	left: 163px;
}

#u9329-4
{
	z-index: 42;
	margin-right: -10000px;
	margin-top: 6px;
	left: 231px;
}

#u9320-4
{
	z-index: 34;
	width: 76px;
	margin-right: -10000px;
	left: 253px;
}

#u9304
{
	z-index: 8;
	width: 670px;
	top: -7px;
	margin-bottom: -7px;
}

#pu9310
{
	width: 0.01px;
	margin-left: 131px;
	margin-top: 10px;
}

#u9310
{
	z-index: 14;
	width: 53px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u9308
{
	z-index: 12;
	width: 58px;
	margin-right: -10000px;
	left: 115px;
}

#u9306
{
	z-index: 10;
	width: 58px;
	margin-right: -10000px;
	left: 234px;
}

#u9312
{
	z-index: 16;
	width: 58px;
	margin-right: -10000px;
	left: 354px;
}

#u9158-6
{
	z-index: 2;
	width: 482px;
	min-height: 78px;
	background-color: transparent;
	text-align: center;
	margin-left: 94px;
	margin-top: 77px;
	position: relative;
}

#u9158-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u9158-2
{
	font-size: 50px;
	line-height: 60px;
}

#u9330-4
{
	z-index: 46;
	width: 61px;
	margin-right: -10000px;
	margin-top: 1089px;
	left: 219px;
}

#u9333-4
{
	z-index: 58;
	margin-right: -10000px;
	margin-top: 1094px;
	left: 288px;
}

#u9331-4
{
	z-index: 50;
	width: 43px;
	margin-right: -10000px;
	margin-top: 1089px;
	left: 311px;
}

#u9335-4
{
	z-index: 66;
	margin-right: -10000px;
	margin-top: 1094px;
	left: 360px;
}

#u9332-4
{
	z-index: 54;
	width: 60px;
	margin-right: -10000px;
	margin-top: 1089px;
	left: 382px;
}

#u9336-4
{
	z-index: 70;
	margin-right: -10000px;
	margin-top: 1094px;
	left: 450px;
}

#u9334-4
{
	z-index: 62;
	width: 76px;
	margin-right: -10000px;
	margin-top: 1089px;
	left: 473px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1088px;
}

