/*

*/

.version.contact /* version checker */
{
	color: #00000E;
	background-color: #E1ABB8;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FEFFD9;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 870px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FEFFD9;
}

#u11759
{
	z-index: 9;
}

#u11760-4
{
	z-index: 10;
	min-height: 70px;
	padding-left: 25px;
	padding-top: 4px;
}

#u11760-4.AccordionPanelTabOpen
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 70px;
	margin: 0px;
}

#u11761
{
	z-index: 14;
	padding-bottom: 1px;
}

#menuu11762
{
	z-index: 15;
	width: 670px;
	margin-right: -10000px;
}

#u12120
{
	width: 670px;
}

#u12123
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u11799
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u11764
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u11771
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u11785
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u11798,#u11763,#u11770,#u11784,#u11791
{
	width: 670px;
	margin-top: 2px;
}

#u11792
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u12123.MuseMenuActive,#u11799.MuseMenuActive,#u11764.MuseMenuActive,#u11771.MuseMenuActive,#u11785.MuseMenuActive,#u11792.MuseMenuActive
{
	width: 670px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u12126-4_clip,#u11802-4_clip,#u11765-4_clip,#u11774-4_clip,#u11786-4_clip,#u11795-4_clip
{
	width: 635px;
	height: 37px;
}

#u12126-4,#u11802-4,#u11765-4,#u11774-4,#u11786-4,#u11795-4
{
	margin-right: -10000px;
	top: 3px;
	left: 35px;
}

#accordionu11758,#accordionu11758-bw
{
	z-index: 8;
}

#u11973
{
	z-index: 56;
	width: 670px;
	background-color: transparent;
	margin-left: 49px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#pu11975
{
	width: 0.01px;
	margin-left: 230px;
	margin-top: -4px;
}

#u11975
{
	z-index: 58;
	overflow: hidden;
	position: relative;
	width: 53px;
	margin-right: -10000px;
}

#u11979
{
	z-index: 60;
	overflow: hidden;
	position: relative;
	width: 53px;
	margin-right: -10000px;
	left: 124px;
}

#u11977
{
	z-index: 59;
	overflow: hidden;
	position: relative;
	width: 53px;
	margin-right: -10000px;
	left: 249px;
}

#u11972-6
{
	z-index: 2;
	width: 482px;
	min-height: 78px;
	background-color: transparent;
	text-align: center;
	margin-left: 143px;
	margin-top: 35px;
	position: relative;
}

#u11972-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11972-2
{
	font-size: 50px;
	line-height: 60px;
}

#u11805-4
{
	z-index: 52;
	min-height: 42px;
	padding-top: 20px;
}

#u11805-4-bw
{
	z-index: 52;
	min-height: 42px;
	margin-top: 700px;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

