.version.index /* version checker */
{
	color: #0000F2;
	background-color: #F658DA;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 673px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #D91F1F;
	padding: 17px 64px 35px;
}

#u12143
{
	z-index: 4;
	overflow: hidden;
	margin-left: 134px;
	position: relative;
}

#u12141
{
	z-index: 2;
	width: 457px;
	background-color: transparent;
	margin-left: 91px;
	position: relative;
}

#u12145
{
	z-index: 5;
	overflow: hidden;
	position: relative;
}

#u12147
{
	z-index: 6;
	overflow: hidden;
	margin-left: 90px;
	margin-top: 7px;
	position: relative;
}

#u12149
{
	z-index: 7;
	overflow: hidden;
	margin-left: 150px;
	margin-top: 49px;
	position: relative;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

