#u11760-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: #FEFFD9;
	color: #000000;
	text-align: left;
	font-size: 55px;
	line-height: 66px;
	font-family: '__websocialmenus_5';
	font-weight: 400;
}

#u11760-4.AccordionPanelTabOpen p
{
	font-size: 55px;
}

#u11761
{
	border-width: 0px;
	border-color: transparent;
	background-color: #FEFFD9;
}

#accordionu11758,#menuu11762
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u11799
{
	background-color: #F8AB98;
}

#u11764
{
	background-color: #E8D386;
}

#u11771
{
	background-color: #80BDC5;
}

#u11785
{
	background-color: #9B8FAF;
}

#u11759,#u11798,#u11763,#u11770,#u11784,#u11791
{
	background-color: transparent;
}

#u11792
{
	background-color: #00CE3A;
}

#u11802-4_clip,#u11765-4_clip,#u11774-4_clip,#u11786-4_clip,#u11795-4_clip
{
	overflow: hidden;
	vertical-align: top;
}

#u11802-4_img,#u11765-4_img,#u11774-4_img,#u11786-4_img,#u11795-4_img
{
	display: block;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u11805-4
{
	background-color: transparent;
	text-align: center;
}


