#u9304,#u9310,#u9308,#u9306,#u9312
{
	background-color: transparent;
	position: relative;
}

#u9315-4,#u9317-4,#u9319-4,#u9117-4,#u9119-4,#u9121-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u9314-4,#u9316-4,#u9318-4,#u9320-4,#u9116-4,#u9118-4,#u9120-4,#u9122-4
{
	position: relative;
}

#u9314-4_img,#u9316-4_img,#u9318-4_img,#u9320-4_img,#u9116-4_img,#u9118-4_img,#u9120-4_img,#u9122-4_img
{
	display: block;
	vertical-align: top;
}

