/*

*/

.version.music /* version checker */
{
	color: #0000ED;
	background-color: #E7FB64;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FEFFD9;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 2002.875px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FEFFD9;
	padding-bottom: 0px;
}

#u11759
{
	z-index: 3;
}

#u11760-4
{
	z-index: 4;
	min-height: 70px;
	padding-left: 25px;
	padding-top: 4px;
}

#u11760-4.AccordionPanelTabOpen
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 70px;
	margin: 0px;
}

#u11761
{
	z-index: 8;
	padding-bottom: 1px;
}

#menuu11762
{
	z-index: 9;
	width: 670px;
	margin-right: -10000px;
}

#u11798
{
	width: 670px;
}

#u11799
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u11764
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u11771
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u11785
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u11802-4,#u11765-4,#u11774-4,#u11786-4
{
	margin-right: -10000px;
	top: 7px;
	left: 35px;
}

#u11763,#u11770,#u11784,#u11791
{
	width: 670px;
	margin-top: 2px;
}

#u11792
{
	width: 670px;
	min-height: 37px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u11799.MuseMenuActive,#u11764.MuseMenuActive,#u11771.MuseMenuActive,#u11785.MuseMenuActive,#u11792.MuseMenuActive
{
	width: 670px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u11802-4_clip,#u11765-4_clip,#u11774-4_clip,#u11786-4_clip,#u11795-4_clip
{
	width: 635px;
	height: 37px;
}

#u11795-4
{
	margin-right: -10000px;
	top: 8px;
	left: 35px;
}

#accordionu11758,#accordionu11758-bw
{
	z-index: 2;
}

#u11952
{
	z-index: 64;
	width: 670px;
	background-color: transparent;
	margin-left: 49px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#pu11954
{
	width: 0.01px;
	margin-left: 229px;
	margin-top: -4px;
}

#u11954
{
	z-index: 66;
	overflow: hidden;
	position: relative;
	width: 53px;
	margin-right: -10000px;
}

#u11958
{
	z-index: 68;
	overflow: hidden;
	position: relative;
	width: 53px;
	margin-right: -10000px;
	left: 128px;
}

#u11956
{
	z-index: 67;
	overflow: hidden;
	position: relative;
	width: 53px;
	margin-right: -10000px;
	left: 256px;
}

#u11932-4
{
	z-index: 44;
	width: 670px;
	min-height: 62px;
	background-color: transparent;
	color: #80BDC5;
	line-height: 61px;
	text-align: center;
	font-size: 61px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 49px;
	margin-top: 20px;
	position: relative;
}

#pu12256
{
	width: 0.01px;
	margin-left: 188px;
	margin-top: 37px;
}

#u12256
{
	z-index: 71;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
}

#u12252
{
	z-index: 69;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 146px;
}

#u12254
{
	z-index: 70;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 292px;
}

#u11933
{
	z-index: 48;
	width: 300px;
	background-color: transparent;
	margin-left: 234px;
	margin-top: 37px;
	position: relative;
}

#u11937-4
{
	z-index: 52;
	margin-left: 49px;
	margin-top: 8px;
	position: relative;
}

#u11938-4
{
	z-index: 56;
	width: 670px;
	min-height: 61px;
	background-color: transparent;
	color: #FF0000;
	line-height: 60px;
	text-align: center;
	font-size: 50px;
	font-family: Courier New, Courier, monospace;
	margin-left: 49px;
	margin-top: 41px;
	position: relative;
}

#pu12266
{
	width: 0.01px;
	margin-left: 188px;
	margin-top: 33px;
}

#u12266
{
	z-index: 74;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
}

#u12262
{
	z-index: 72;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 146px;
}

#u12264
{
	z-index: 73;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 292px;
}

#u11935
{
	z-index: 50;
	width: 300px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-left: 233px;
	margin-top: 44px;
	position: relative;
}

#u11939-4
{
	z-index: 60;
	margin-left: 49px;
	margin-top: 11px;
	position: relative;
}

#u11937-4_img,#u11939-4_img
{
	display: block;
	vertical-align: top;
}

#u12293
{
	z-index: 79;
	width: 706px;
	height: 6px;
	border-style: solid;
	border-color: #9B8FAF;
	background-color: transparent;
	margin-left: 31px;
	margin-top: 17px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u12272-4
{
	z-index: 75;
	width: 274px;
	background-color: transparent;
	color: #9B8FAF;
	line-height: 50px;
	text-align: center;
	font-size: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 251px;
	margin-top: 11px;
	position: relative;
}

#ppu12273-4
{
	width: 0.01px;
	margin-left: 43px;
	margin-top: 28px;
}

#pu12273-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u12273-4
{
	z-index: 80;
	width: 289px;
	min-height: 62px;
	background-color: transparent;
	color: #A60000;
	line-height: 29px;
	text-align: center;
	font-size: 29px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-style: italic;
	margin-left: 4px;
	position: relative;
}

#u12276
{
	z-index: 84;
	width: 296px;
	background-color: transparent;
	position: relative;
}

#u12294
{
	z-index: 86;
	width: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 358px;
}

#u12282-4
{
	z-index: 87;
	width: 354px;
	min-height: 31px;
	background-color: transparent;
	color: #383838;
	line-height: 36px;
	text-align: center;
	letter-spacing: -2px;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u12287
{
	z-index: 91;
	width: 298px;
	background-color: transparent;
	margin-left: 28px;
	margin-top: 30px;
	position: relative;
}

#pu12301
{
	width: 0.01px;
	margin-left: 140px;
	margin-top: 23px;
}

#u12301
{
	z-index: 95;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
}

#u12310
{
	z-index: 98;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 387px;
}

#u12297
{
	z-index: 93;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
}

#u12306
{
	z-index: 96;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 387px;
}

#pu12297,#pu12299
{
	width: 0.01px;
	margin-left: 140px;
	margin-top: 13px;
}

#u12299
{
	z-index: 94;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
}

#u12308
{
	z-index: 97;
	overflow: hidden;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 387px;
}

#u11805-4
{
	z-index: 40;
	min-height: 42px;
	padding-top: 20px;
}

#u11805-4-bw
{
	z-index: 40;
	min-height: 42px;
	margin-top: 19px;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

