.version.tour /* version checker */
{
	color: #000014;
	background-color: #0719A4;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FEFFD9;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 986px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 38px;
}

#pu9114
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 27px;
	margin-left: 49px;
}

#u9114
{
	z-index: 7;
	width: 670px;
}

#pu9110
{
	width: 0.01px;
	margin-left: 117px;
	margin-top: 5px;
}

#u9110
{
	z-index: 3;
	width: 72px;
	height: 72px;
	margin-right: -10000px;
}

#u9111
{
	z-index: 4;
	width: 72px;
	height: 72px;
	margin-right: -10000px;
	left: 116px;
}

#u9110:active,#u9111:hover
{
	width: 72px;
	height: 72px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9109
{
	z-index: 2;
	width: 72px;
	height: 72px;
	margin-right: -10000px;
	left: 231px;
}

#u9111:active,#u9109:active
{
	width: 72px;
	height: 72px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9112
{
	z-index: 5;
	width: 44px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 362px;
}

#u9143
{
	z-index: 37;
	width: 601px;
	min-height: 330px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 16px;
	position: relative;
}

#u9116-4
{
	z-index: 9;
	width: 85px;
	margin-right: -10000px;
	margin-top: 933px;
	left: 187px;
}

#u9117-4
{
	z-index: 13;
	margin-right: -10000px;
	margin-top: 933px;
	left: 272px;
}

#pu9118-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 933px;
	margin-left: 284px;
}

#u9118-4
{
	z-index: 17;
	width: 73px;
	margin-right: -10000px;
}

#u9119-4
{
	z-index: 21;
	margin-right: -10000px;
	left: 68px;
}

#u9120-4
{
	z-index: 25;
	width: 95px;
	margin-right: -10000px;
	margin-top: 933px;
	left: 361px;
}

#u9121-4
{
	z-index: 29;
	margin-right: -10000px;
	margin-top: 933px;
	left: 456px;
}

#u9122-4
{
	z-index: 33;
	width: 116px;
	margin-right: -10000px;
	margin-top: 933px;
	left: 465px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -932px;
}

